**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.launchsettings.json
**/*.log
**/*.suo
**/*.swp
**/*.user
**/bin
**/docker-compose*
**/obj
**/TestResults
README.md
